*{
    padding:0;
    box-sizing: border-box;
    margin:0;

}

.APP{
    max-width: 1230px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 0 0 35px ;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

@import url("./components/headers/header.css");


@import url("./components/mainpages/products/product.css");

@import url("./components/mainpages/utils/DetailProducts/detailProduct.css")